<footer>
    <div>
        <h2>Signalements</h2>
        <ul>
            <li><a href="{{ path('app_user-report_new') }}">Signaler un utilisateur</a></li>
            <li><a href="{{ path('app_bug-report_new') }}">Signaler un bug</a></li>
        </ul>
    </div>
    <div>
        <h2>Liens utiles</h2>
        <ul>
            <li><a href="{{ path('app_main_legal-mentions') }}">Mentions légales</a></li>
            <li><a href="{{ path('app_main_privacy-policy') }}">Politique de confidentialité</a></li>
            <li><a href="{{ path('app_main_terms') }}">Conditions Générales d'Utilisation</a></li>
            <li><a href="./model/cgu.html">Notes de mise à jour</a></li>
            <li><a href="#">États des services</a></li>
        </ul>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <h2>Gestion</h2>
            <ul>
                <li><a href="{{ path('app_user-report_index') }}">Gérer les signalements d'utilisateur</a></li>
                <li><a href="{{ path('app_bug-report_index') }}">Gérer les signalements de bug</a></li>
                <li><a href="#">Gérer les utilisateurs</a></li>
                <li><a href="#">Gérer les bannissements</a></li>
                <li><a href="#">Ajouter une note de mise à jour</a></li>
            </ul>
        </div>
    {% endif %}
    <div class="copyright">Copyright © {{ 'now' | date('Y') }} - Sengolas</div>
</footer>
  