{% extends 'base.html.twig' %}

{% block title %}New UserReport{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
{% endblock %}

{% block body %}
<main>
    <section>
        <h2>Signaler</h2>

        {{ form_start(form) }}
            {# Comment #}
            {% if form_errors(form.comment) %}
                <div class="info error">
                    {{ form_errors(form.comment) }}
                </div>
            {% endif %}

            <div class="input-wrapper has-textarea">
                {{ form_widget(form.comment, { 'attr': { 'placeholder': 'Commentaire' } }) }}
            </div>

            {# Reported user #}
            {% if form_errors(form.reportedUser) %}
                <div class="info error">
                    {{ form_errors(form.reportedUser) }}
                </div>
            {% endif %}

            <div class="input-wrapper">
                {{ form_widget(form.reportedUser) }}
            </div>

            <div class="input-wrapper">
                <button type="submit">Soumettre le signalement</button>
            </div>

            <div class="text">
                <p><a href="{{ path('app_main_home') }}">Annuler</a></p>
            </div>
        {{ form_end(form) }}
    </section>
</main>
{% endblock %}
